// TODO might have to switch out primary and secondary..
$primary: #f5ede4;
$secondary: #463a23;
$tertiary: #f9f7f3;

$body-color: $secondary;

.faq-details {
  margin-bottom: 0.5em;

  // hack to get hash navigation (#) not be displayed up top
  // https://css-tricks.com/hash-tag-links-padding/#fancier-clean-html-method
  // interferes with summary click
  // &::before {
  //   display: block;
  //   content: " ";
  //   margin-top: -150px;
  //   height: 150px;
  //   visibility: hidden;
  //   pointer-events: none;
  // }

  // add + and - instead the default detail triangle
  summary:after {
    content: "+";
    float: right;
    text-align: right;
  }

  &[open] > summary:after {
    content: "–";
  }

  &__summary {
    background: $tertiary;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    padding: 0.5em;

    // disable the default detail triangle
    &::-webkit-details-marker {
      display: none;
    }
  }

  &__text {
    color: $secondary;
    padding: 0.3em;

    p {
      margin: 0;
    }
  }

  &__image {
    max-width: 100%;
    padding: 0.3em
  }
}
