// unset modal-breaking attribute from shopify theme scss
.modal {
  opacity: unset;
  background: unset;
}

$primary: #F5EDE4;
$secondary: #463A23;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
