// unset modal-breaking attribute from shopify theme scss
.modal {
  opacity: unset;
  background: unset;
}

// TODO might have to switch out primary and secondary..
$primary: #F5EDE4;
$secondary: #463A23;

$body-color: $secondary;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
